In [11]:
data1=["I like this Book. Do you u like this BOOK",
       "This book is good. I like o reading this book",
       "I didn't like the book",
       "I did not like the book",
      "Reading books is my hobby",
       "Start jumping","He jumps out of window",
       "I jumped into the lake"]

In [19]:
data2=['I live in south africa. I love south africa', 'I live in South Africa',
       'I am from Nigeria. Nigeria is a beatiful country']

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
cv=CountVectorizer()
new_data=cv.fit_transform(data2)
new_data

<3x11 sparse matrix of type '<class 'numpy.int64'>'
	with 15 stored elements in Compressed Sparse Row format>

In [22]:
new_data.toarray()

array([[2, 0, 0, 0, 0, 1, 0, 1, 1, 0, 2],
       [1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1],
       [0, 1, 1, 1, 1, 0, 1, 0, 0, 2, 0]], dtype=int64)

In [23]:
new_data.shape

(3, 11)

In [24]:
new_data.ndim

2

In [25]:
cv.get_feature_names_out()

array(['africa', 'am', 'beatiful', 'country', 'from', 'in', 'is', 'live',
       'love', 'nigeria', 'south'], dtype=object)

In [26]:
import pandas as pd
df=pd.DataFrame(new_data.toarray(),columns=cv.get_feature_names_out())
df

   africa  am  beatiful  country  from  in  is  live  love  nigeria  south
0       2   0         0        0     0   1   0     1     1        0      2
1       1   0         0        0     0   1   0     1     0        0      1
2       0   1         1        1     1   0   1     0     0        2      0

In [27]:
df.columns

Index(['africa', 'am', 'beatiful', 'country', 'from', 'in', 'is', 'live',
       'love', 'nigeria', 'south'],
      dtype='object')

In [19]:
pd.options.display.max_columns=30

In [ ]:
!pip install nltk

In [28]:
import nltk

In [29]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nilay\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()

In [23]:
wnl.lemmatize('dogs')

'dog'

In [24]:
wnl.lemmatize('boxes')

'box'

In [25]:
wnl.lemmatize('leaves')

'leaf'

In [27]:
wnl.lemmatize('better')

'better'

In [28]:
wnl.lemmatize('crying')

'cry'

In [29]:
wnl.lemmatize('jumped')

'jumped'

In [30]:
from nltk.stem import PorterStemmer

In [31]:
stemmer=PorterStemmer()
stemmer.stem("jumped")

'jump'

In [32]:
stemmer.stem("better")

'better'

In [33]:
stemmer.stem("flowers")

'flower'

In [35]:
#convert string to lower case letters
s1="I LIKE this booK."

In [37]:
s1=s1.lower()
s1

'i like this book.'

In [38]:
#tokenzation
lst=s1.split()
lst

['i', 'like', 'this', 'book.']

In [39]:
from nltk.corpus import stopwords

In [40]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [35]:
stopwords_list=["has","me","i"]

In [ ]:
#TF-IDF

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
tfidf=TfidfVectorizer()

In [43]:
t=tfidf.fit_transform(data2)
t

<3x11 sparse matrix of type '<class 'numpy.float64'>'
	with 15 stored elements in Compressed Sparse Row format>

In [44]:
t.toarray()

array([[0.58398432, 0.        , 0.        , 0.        , 0.        ,
        0.29199216, 0.        , 0.29199216, 0.3839346 , 0.        ,
        0.58398432],
       [0.5       , 0.        , 0.        , 0.        , 0.        ,
        0.5       , 0.        , 0.5       , 0.        , 0.        ,
        0.5       ],
       [0.        , 0.33333333, 0.33333333, 0.33333333, 0.33333333,
        0.        , 0.33333333, 0.        , 0.        , 0.66666667,
        0.        ]])

In [45]:
t1=pd.DataFrame(t.toarray(),columns=cv.get_feature_names_out())
t1

,africa,am,beatiful,country,from,in,is,live,love,nigeria,south
0,0.583984,0.000000,0.000000,0.000000,0.000000,0.291992,0.000000,0.291992,0.383935,0.000000,0.583984
1,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.500000,0.000000,0.000000,0.500000
2,0.000000,0.333333,0.333333,0.333333,0.333333,0.000000,0.333333,0.000000,0.000000,0.666667,0.000000